<section id="about">
  <div class="header">
    <h4>About Me</h4>
  </div>
  <div class="content-layout">
    <div class="content">
      <p>
        Hello! My name is Muhammad Fawad. I'm 25. I'm a software engineer based in Ho
        Wah Pakistan. I have 2 years of experience working with Python Core and
        laravel. Currently, I work mainly with Python(django).
      </p>
      <p>
        Out of work, I really like traveling. Whenever I have spare times, I
        will travel to somewhere. My goal is to travel every city of pakistan especially north of pakistan.
      </p>
      <p>
        Now, I'm a Senior Software Engineer at
        <a href="https://tachyontechs.com/" target="_blank">TachyonTechs</a>.
      </p>
      <p>Here are a few technologies I've been working with recently:</p>
      <ul>
        <li>Python</li>
        <li>Django</li>
        <li>FastAPI</li>
        <li>OpenAI</li>
        <li>Langchain</li>
        <li>Yolo</li>
        <li>Laravel</li>
      </ul>
    </div>
    <div class="image">
      <div class="wrapper">
        <img src="assets/img/DP.jpg" alt="avatar" />
      </div>
    </div>
  </div>
</section>
