<ul>
  <li>
    <a href="https://github.com/fadii-99" target="_blank"
      ><i nz-icon nzType="github" nzTheme="outline"></i
    ></a>
  </li>
  <li>
    <a href="https://www.instagram.com/fawad_dev?igsh=d3Nyendsd3piOG01" target="_blank"
      ><i nz-icon nzType="instagram" nzTheme="outline"></i
    ></a>
  </li>
  <!-- <li>
    <a href="https://www.facebook.com/AndyTu.Hoang/" target="_blank"
      ><i nz-icon nzType="facebook" nzTheme="outline"></i></a>
  </li> -->
  <li>
    <a href="https://www.linkedin.com/in/muhammad-fawad-software-engineer/" target="_blank"
      ><i nz-icon nzType="linkedin" nzTheme="outline"></i
    ></a>
  </li>
</ul>
